<% if question.errors.any? %>
  <ul>
    <% question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [group, question] do |f| %>
  <div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>

  <div class="field">
  <%= f.label :content %>
  <%= f.text_area :content %>
  </div>

  <div class="field">
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br> 
  <%= f.fields_for :tags do |tag_form| %>
    <%= tag_form.label :name %>
    <%= tag_form.text_field :name %>
  <% end %>
  </div>

  <!-- hidden user_id -->
  <div class="field">
  <input type="hidden" name="question[user_id]" value="1">
  </div>
  <%= f.submit "Submit" %>
<% end %>