<div class="panel panel-default">
<div class="panel-heading">
  <h1><%= @question.title %></h1>
    <h3><%= @question.content %></h3>
  <p>Tags: 
    <% @question.tags.each do |tag| %>
      <%= link_to(tag.name, tag)%>&nbsp;&nbsp;&nbsp;
    <% end %>
  </p>
  <% if @question.user == current_user %>
    <div class="btn-group">
      <%= button_to "Edit", {controller: :questions, action: 'edit', id: @question.id}, method: :get , class:"btn btn-primary btn-xs"%>
      <%= button_to "Delete", {controller: :questions, action: 'destroy', id: @question.id}, method: :delete , class:"btn btn-primary btn-xs"%>
    </div>
  <% end %>
</div>
<div class="horizontalLine"></div>
<!-- Only display if you have permissions -->
<div class="list-group">
  <span class="list-group-item">
  <% if @answers.present? %>
    <ul>
      <% @answers.each do |answer| %>
        <li><h5><%= answer.content %></h5></li>
        <% if answer.user == current_user %>
          <p><%= link_to"Edit", edit_answer_path(answer.id)%>&nbsp;&nbsp;
          <%= link_to"Delete", delete_answer_path(answer.id)%></p>
        <% end %>
      <% end %>
    </ul>
    <div class="horizontalLine"></div>
  <% end %>
  <% if @group.members.include?(current_user) %>
    <span class="list-group-item"><%= form_for [@group, @question, @answer] do |f| %>
      <%= f.text_area :content %><br>
      <%= f.submit "Post Answer", class:"btn btn-primary btn-sm"%>
    <% end %></span>
  <% end %>
  </div>
</div>
<%= link_to "Group Page", @question.group %>
