<h1> Question </h1>

<h2><%= @question.title %></h2>
<p><%= @question.content %></p>
<p>Tags: 
  <% @question.tags.each do |tag| %>
    <%= link_to(tag.name, tag)%>&nbsp;&nbsp;&nbsp;
  <% end %>
</p>
<!-- Only display if you have permissions -->
<% if @question.user == current_user %>
  <br><%= button_to "Delete", {controller: :questions, action: 'destroy', id: @question.id}, method: :delete %>
  <br><%= button_to "Edit", {controller: :questions, action: 'edit', id: @question.id}, method: :get %>
<% end %>
<br><%= link_to "Group Page", @question.group %>
<% if @group.members.include?(current_user) %>
  <br> <%= form_for [@group, @question, @answer] do |f| %>
    <%= f.text_area :content %>
    <%= f.submit %>
  <% end %>
<% end %>


<% if @answers.present? %>
  <h1>Answers!</h1>
  <ul>
    <% @answers.each do |answer| %>
      <li><%= answer.content %> </li>
      <% if answer.user == current_user %>
        <p><%= link_to"Edit", edit_answer_path(answer.id)%>&nbsp;&nbsp;
        <%= link_to"Delete", delete_answer_path(answer.id)%></p>
      <% end %>
    <% end %>
  </ul>
<% end %>

