<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<h1>Group Admin Panel</h1>
<%if @group.pending.any? %>
  <h1>Pending Memberships</h1>
  <%=form_tag("/groups/#{@group.id}/users", method: "patch") do %>
    <ul>
      <%@users.each do |user| %>
        <li>
          <label>Accept <%=user.name%></label>
          <%=check_box_tag('ids[]', user.id) %>
        </li>
      <%end%>
    </ul>
    <%= submit_tag "Approve Users", class:"btn btn-primary btn-sm"%>
<% end %>

<% end %><br><br>


<div class="jumbotron">
      <div class="row text-center">
        <h2>Most Popular Tags in the Past 3 Days</h2><br>
          <%= pie_chart(@group.recent_popular_tags.to_h) %>
        </ul>
      </div>
    </div>

<div class="jumbotron">
  <div class="row text-center">
  <h2>Activity</h2><br>
    <%= line_chart @group.questions.group("date(questions.created_at)").count %>
  </ul>
</div>
</div>

<div class="row text-center">
  <h2>Stats</h2>
</div>
    <ul>
      <li>Average questions per user: <%= @group.question_to_user_ratio %></li>
      <li>Users with most questions in the past week: </li>
        <ol>
          <% @group.users_w_most_questions.first(5).each do |user_info| %>
             <li><%= link_to(User.find(user_info[0]).name << " - " << user_info[1].to_s, user_path(user_info[0]))%></li>
          <% end %>
        </ol>
      <li>Users with most answers in the past week: </li>
        <ol>
          <% @group.users_w_most_answers.first(5).each do |user_info| %>
             <li><%= link_to(User.find(user_info[0]).name << " - " << user_info[1].to_s, user_path(user_info[0]))%></li>
          <% end %>
        </ol>
    </ul>
<div class="row text-center">
  <h2>Recent Questions</h2>
</div>
    <ul>
      <% @group.recent_questions.each do |question|%>
        <li><%= link_to(question.title, group_question_path(@group, question))%></li>
      <% end %>
    </ul>
    <br>