<div class="jumbotron">
<div class="row text-center">
  <h1> Group Registration </h1><br>
  <% if @group.errors.any? %>
    <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  
    <%= form_for @group do |f| %>
      <h4><%= f.label :name %><br></h4>
      <%= f.text_field :name %><br><br>
      <h4><%= f.label :description %><br></h4>
      <%= f.text_area :description %><br><br>
      <%= f.submit "Create Group", class:"btn btn-primary btn-md"%>
    <% end %>
    </div>
    <br> <br> <br> <br> <br> <br> <br> <br><br> <br> <br>
    </div>
   


