<h1> <%= @group.name.capitalize %> </h1>
<p><%= @group.description %></p>
<p>Group Admins: <%= @group.admins.map{|admin| admin.name}.join(", ") %></p>
<!-- display questions here by (popularity/create date)-->
<!-- two divs for answered/unanswered -->

<ul>
  <% @questions.each do |question| %>
    <li><p>- <%= link_to question.title, group_question_path(@group, question) %></p></li>
  <% end %>
</ul>
<br>
<div class="horizontalLine"></div>
<br>
<!-- Only display if you have permissions -->
<% if  current_user && @group.admins.include?(current_user) %>
  <%= button_to "Delete", {controller: :groups, action: 'destroy', id: @group.id}, method: :delete %>
  <%= button_to "Edit", {controller: :groups, action: 'edit', id: @group.id}, method: :get %>
<% end %>
<% if current_user %>
  <% if @group.members.include?(current_user) %>
<!--check if group member, then display this -->
    <%= link_to "New Question", new_group_question_path(@group) %><br>
    <%= link_to "View Members", group_users_path(@group) %><br>
  <% end %>
  <!-- only display request membership if user is not a member or admin -->
  <% unless @group.users.include?(current_user) %>
    <%= link_to "Request To Join", group_join_path(@group) %><br>
  <% end %>
<% end %>
<% if @group.admins.include?(current_user) %>
  <%= link_to "View Membership Requests", group_membership_path(@group) %><br>
<% end %>
<%= link_to "Back", groups_path%><br>