<h1>My Group</h1>
<h3> <%= @group.name %> </h3>
<p><%= @group.description %></p>
<p>Group Admins: <%= @group.admins.map{|admin| admin.name}.join(", ") %></p>
<!-- display questions here by (popularity/create date)-->
<!-- two divs for answered/unanswered -->

<ul><% @questions.each do |question| %>
<li><%= link_to question.title, group_question_path(@group, question) %></li>
<% end %>
</ul>
<!-- Only display if you have permissions -->
<% if @group.admins.include?(current_user) %>
  <%= button_to "Delete", {controller: :groups, action: 'destroy', id: @group.id}, method: :delete %>
  <%= button_to "Edit", {controller: :groups, action: 'edit', id: @group.id}, method: :get %>
<% end %>
<% if current_user %>
<!--check if group member, then display this -->
  <%= link_to "New Question", new_group_question_path(@group) %>
  <%= link_to "Request Membership!", group_join_path(@group) %>
<% end %>
