<h1>Stats:</h1>
<ul>
  <li>Hands Raised: <%= @user.questions.size %></li>
  <li>Hi-fives: <%= @user.answers.size %></li>
  <li>Topic with most questions: </li>
</ul>
<h1>Recent Contributions:</h1>
<ul>
  <li>
    Questions:
    <ul>
      <% @user.most_recent_questions.each do |question| %>
        <li><p><%= link_to question.title, group_question_path(question.group, question) %></p></li>
      <% end %>
    </ul>
  </li>
  <li>
    Answers:
    <ul>
      <% @user.most_recent_answers.each do |answer| %>
        <li><p><%= link_to answer.question.title, group_question_path(answer.question.group, answer.question) %></p></li>
      <% end %>
    </ul>
  </li>
</ul>
<h1>Groups:</h1>
<ul>
  <% @user.groups.each do |group| %>
    <li><%=link_to group.name.capitalize, group %></li>
  <% end %>
</ul>
<% if @user == current_user %>
  <h1>Your info:</h1>
  <ul>
    <!-- Only display if user is logged in -->
    <li>User Name: <%= @user.name %> </li>
    <li>Email: <%= @user.email %></li>
  </ul>
  <%= button_to "Edit", {controller: :users, action: 'edit', id: @user.id}, method: :get , class:"btn btn-primary btn-sm"%><br>
  <%= button_to "Delete", {controller: :users, action: 'destroy', id: @user.id}, method: :delete, class:"btn btn-primary btn-sm" %>
<% end %>
