<!DOCTYPE html>
<html>
<head>
  <title>RaiseYourHand</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<div id="container">
  <div id="user_header">
  <h1> Raise Your Hand </h1>

  <% if current_user %>
    Logged in as <%= current_user.name %><br>
    <%= link_to "Home", home_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Register Group", new_group_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Log Out",logout_path %>
  <% else %>
    <%= link_to "Home", home_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Sign Up", signup_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Log In", login_path %>
  <% end %>&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</div>
<br>
<div class="horizontalLine">

</div>

<%= yield %>

</body>
</html>